{% extends 'base.html.twig' %}

{% block title %}LeBonGeek - BackOffice
{% endblock %}

{% block body %}

	<h1>{{ dataLength }}</h1>

	{% for data in datas %}

		<div class="container">
			<h2>{{ data.id }}</h2>
		</div>

	{% endfor %}

	{{ knp_pagination_render(pagination) }}

{% endblock %}
