{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<h1>Accès non autorisé</h1>
		<img src="https://photos.tf1.fr/1200/720/vignette-portrait-jose-phine-ange-gardien-afaa6e-0@1x.jpg" alt="Joséphine !"/>
	</div>
{% endblock %}
